* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-decoration: none;
}

.container a {
    text-decoration: none;
}

#highscore a {
    text-decoration: none;
}

#countdown {
    float: right;
}

.grid {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    margin: auto;
}

